In [1]:
!wget https://raw.githubusercontent.com/IBM/db2-jupyter/master/db2.ipynb
%run db2.ipynb

--2022-12-16 01:56:50--  https://raw.githubusercontent.com/IBM/db2-jupyter/master/db2.ipynb
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.108.133, 185.199.109.133, 185.199.110.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 130924 (128K) [text/plain]
Saving to: ‘db2.ipynb’

db2.ipynb           100%[===================>] 127.86K  --.-KB/s    in 0s

2022-12-16 01:56:50 (387 MB/s) - ‘db2.ipynb’ saved [130924/130924]

Warning: QGRID is unavailable for displaying results in scrollable windows.
         Install QGRID if you want to enable scrolling of result sets.
Db2 Extensions Loaded.

In [2]:
%sql connect to db2ml host 35.172.245.247 port 32403 user db2inst1 using ?

Password [password]:  ········

Connection successful.

In [75]:
from sklearn.linear_model import LogisticRegression
from sklearn import datasets
import joblib
import base64
train = datasets.load_iris().get("data")
target = datasets.load_iris().get("target")
lr = LogisticRegression(max_iter=1000)
lr = lr.fit(train, target)
joblib.dump(lr, "lr.joblib")
with open("lr.joblib", "rb") as file:
    file =  file.read()
    b64model = base64.b64encode(file)
    print(b64model)
with open("model.b64", "wb") as file:
    file.write(b64model)

b'gASV4wEAAAAAAACMHnNrbGVhcm4ubGluZWFyX21vZGVsLl9sb2dpc3RpY5SMEkxvZ2lzdGljUmVncmVzc2lvbpSTlCmBlH2UKIwHcGVuYWx0eZSMAmwylIwEZHVhbJSJjAN0b2yURz8aNuLrHEMtjAFDlEc/8AAAAAAAAIwNZml0X2ludGVyY2VwdJSIjBFpbnRlcmNlcHRfc2NhbGluZ5RLAYwMY2xhc3Nfd2VpZ2h0lE6MDHJhbmRvbV9zdGF0ZZROjAZzb2x2ZXKUjAVsYmZnc5SMCG1heF9pdGVylE3oA4wLbXVsdGlfY2xhc3OUjARhdXRvlIwHdmVyYm9zZZRLAIwKd2FybV9zdGFydJSJjAZuX2pvYnOUTowIbDFfcmF0aW+UTowObl9mZWF0dXJlc19pbl+USwSMCGNsYXNzZXNflIwTam9ibGliLm51bXB5X3BpY2tsZZSMEU51bXB5QXJyYXlXcmFwcGVylJOUKYGUfZQojAhzdWJjbGFzc5SMBW51bXB5lIwHbmRhcnJheZSTlIwFc2hhcGWUSwOFlIwFb3JkZXKUaAmMBWR0eXBllGgfaCWTlIwCaTiUiYiHlFKUKEsDjAE8lE5OTkr/////Sv////9LAHSUYowKYWxsb3dfbW1hcJSIdWIAAAAAAAAAAAEAAAAAAAAAAgAAAAAAAACVSwAAAAAAAACMB25faXRlcl+UaBspgZR9lChoHmghaCJLAYWUaCRoCWglaCaMAmk0lImIh5RSlChLA2gqTk5OSv////9K/////0sAdJRiaCyIdWKEAAAAlUsAAAAAAAAAjAVjb2VmX5RoGymBlH2UKGgeaCFoIksDSwSGlGgkaAloJWgmjAJmOJSJiIeUUpQoSwNoKk5OTkr/////Sv////9LAHSUYmgsiHVibtEwXFEa279JMT85kvTuP/RnjO4cIwTAxXMjW/FE8b/XOtFzURrhP9onqpovldS/w2gVbgpryr8YMgCHtzfuv0WKxi1Gaby/Wx3qa/qp5L+hvm2VzckFQGzGUY9mMABAlSwAAAAAAAAAjAppbnRlcmNlcHRflGgbKYGUfZQoaB5oIWgiSwOFlGgkaAloJWg7aCyIdWJQSzcJ4bIjQNWnXcDa5QFAVLVOuVcsKMCVHgAAAAAAAACMEF9za2xlYXJuX3ZlcnNpb26UjAUxLjEuMZR1Yi4='

In [76]:
%sql create table models(id integer not null generated always as identity, name varchar(30), model clob, primary key(id))

Command completed.

In [77]:
%sql insert into models (name, model) values('iris_lr', 'gASV4wEAAAAAAACMHnNrbGVhcm4ubGluZWFyX21vZGVsLl9sb2dpc3RpY5SMEkxvZ2lzdGljUmVncmVzc2lvbpSTlCmBlH2UKIwHcGVuYWx0eZSMAmwylIwEZHVhbJSJjAN0b2yURz8aNuLrHEMtjAFDlEc/8AAAAAAAAIwNZml0X2ludGVyY2VwdJSIjBFpbnRlcmNlcHRfc2NhbGluZ5RLAYwMY2xhc3Nfd2VpZ2h0lE6MDHJhbmRvbV9zdGF0ZZROjAZzb2x2ZXKUjAVsYmZnc5SMCG1heF9pdGVylE3oA4wLbXVsdGlfY2xhc3OUjARhdXRvlIwHdmVyYm9zZZRLAIwKd2FybV9zdGFydJSJjAZuX2pvYnOUTowIbDFfcmF0aW+UTowObl9mZWF0dXJlc19pbl+USwSMCGNsYXNzZXNflIwTam9ibGliLm51bXB5X3BpY2tsZZSMEU51bXB5QXJyYXlXcmFwcGVylJOUKYGUfZQojAhzdWJjbGFzc5SMBW51bXB5lIwHbmRhcnJheZSTlIwFc2hhcGWUSwOFlIwFb3JkZXKUaAmMBWR0eXBllGgfaCWTlIwCaTiUiYiHlFKUKEsDjAE8lE5OTkr/////Sv////9LAHSUYowKYWxsb3dfbW1hcJSIdWIAAAAAAAAAAAEAAAAAAAAAAgAAAAAAAACVSwAAAAAAAACMB25faXRlcl+UaBspgZR9lChoHmghaCJLAYWUaCRoCWglaCaMAmk0lImIh5RSlChLA2gqTk5OSv////9K/////0sAdJRiaCyIdWKEAAAAlUsAAAAAAAAAjAVjb2VmX5RoGymBlH2UKGgeaCFoIksDSwSGlGgkaAloJWgmjAJmOJSJiIeUUpQoSwNoKk5OTkr/////Sv////9LAHSUYmgsiHVibtEwXFEa279JMT85kvTuP/RnjO4cIwTAxXMjW/FE8b/XOtFzURrhP9onqpovldS/w2gVbgpryr8YMgCHtzfuv0WKxi1Gaby/Wx3qa/qp5L+hvm2VzckFQGzGUY9mMABAlSwAAAAAAAAAjAppbnRlcmNlcHRflGgbKYGUfZQoaB5oIWgiSwOFlGgkaAloJWg7aCyIdWJQSzcJ4bIjQNWnXcDa5QFAVLVOuVcsKMCVHgAAAAAAAACMEF9za2xlYXJuX3ZlcnNpb26UjAUxLjEuMZR1Yi4=')

Command completed.

In [78]:
%sql select * from models

   ID     NAME                                              MODEL
0   1  iris_lr  gASV4wEAAAAAAACMHnNrbGVhcm4ubGluZWFyX21vZGVsLl...

In [100]:
%sql CREATE FUNCTION iris_score(varchar(1356), float, float, float, float) \
returns float LANGUAGE PYTHON  parameter style \
NPSGENERIC  FENCED  NOT THREADSAFE  NO FINAL CALL  ALLOW PARALLEL  NO DBINFO  DETERMINISTIC  NO EXTERNAL ACTION \
RETURNS NULL ON NULL INPUT  NO SQL \
external name '/home/functions/score.py'

Command completed.

In [83]:
%sql CREATE TABLE iris(sepal_length float,sepal_width float,petal_length float,petal_width float,iris varchar(255));

Command completed.

In [81]:
%sql INSERT INTO iris \
VALUES \
(5.1,3.5,1.4,0.2,'setosa'), \
(4.9,3,1.4,0.2,'setosa'), \
(4.7,3.2,1.3,0.2,'setosa'), \
(4.6,3.1,1.5,0.2,'setosa'), \
(5,3.6,1.4,0.2,'setosa'), \
(5.4,3.9,1.7,0.4,'setosa'), \
(4.6,3.4,1.4,0.3,'setosa')

Command completed.

In [101]:
%sql with input (model, sepal_length, sepal_width, petal_length, petal_width) as \
(select varchar(models.model), iris.sepal_length, iris.sepal_width, iris.petal_length, iris.petal_width \
from models, iris \
where models.id =1) \
select iris_score(varchar(model), float(sepal_length), float(sepal_width), float(petal_length), float(petal_width) ) from input

     1
0  0.0
1  0.0
2  0.0
3  0.0
4  0.0
5  0.0
6  0.0

In [104]:
from sklearn.linear_model import LinearRegression
from sklearn import datasets
import joblib
import base64
train = datasets.load_iris().get("data")
target = datasets.load_iris().get("target")
lr = LinearRegression()
lr = lr.fit(train, target)
joblib.dump(lr, "linear.joblib")
with open("linear.joblib", "rb") as file:
    file =  file.read()
    b64model = base64.b64encode(file)
    print(b64model)
with open("linearmodel.b64", "wb") as file:
    file.write(b64model)

b'gASVSAEAAAAAAACMGnNrbGVhcm4ubGluZWFyX21vZGVsLl9iYXNllIwQTGluZWFyUmVncmVzc2lvbpSTlCmBlH2UKIwNZml0X2ludGVyY2VwdJSIjAlub3JtYWxpemWUjApkZXByZWNhdGVklIwGY29weV9YlIiMBm5fam9ic5ROjAhwb3NpdGl2ZZSJjA5uX2ZlYXR1cmVzX2luX5RLBIwFY29lZl+UjBNqb2JsaWIubnVtcHlfcGlja2xllIwRTnVtcHlBcnJheVdyYXBwZXKUk5QpgZR9lCiMCHN1YmNsYXNzlIwFbnVtcHmUjAduZGFycmF5lJOUjAVzaGFwZZRLBIWUjAVvcmRlcpSMAUOUjAVkdHlwZZRoE2gak5SMAmY4lImIh5RSlChLA4wBPJROTk5K/////0r/////SwB0lGKMCmFsbG93X21tYXCUiHVi6snYrtylvL9Y8XhnTIWkv/jvMoE9RM0/5OPuKf5+4z+VNQAAAAAAAACMBXJhbmtflEsEjAlzaW5ndWxhcl+UaA8pgZR9lChoEmgVaBZLBIWUaBhoGWgaaB5oIYh1YsoS7gGXGTlACy3kgXYNGEAujILLN08LQCLBRR8CJ/4/lV8AAAAAAAAAjAppbnRlcmNlcHRflIwVbnVtcHkuY29yZS5tdWx0aWFycmF5lIwGc2NhbGFylJOUaB5DCIAdzoUT38c/lIaUUpSMEF9za2xlYXJuX3ZlcnNpb26UjAUxLjEuMZR1Yi4='

In [85]:
%sql insert into models (name, model) values('iris_linear', 'gANjc2tsZWFybi5saW5lYXJfbW9kZWwuX2Jhc2UKTGluZWFyUmVncmVzc2lvbgpxACmBcQF9cQIoWA0AAABmaXRfaW50ZXJjZXB0cQOIWAkAAABub3JtYWxpemVxBFgKAAAAZGVwcmVjYXRlZHEFWAYAAABjb3B5X1hxBohYBgAAAG5fam9ic3EHTlgIAAAAcG9zaXRpdmVxCIlYDgAAAG5fZmVhdHVyZXNfaW5fcQlLBFgFAAAAY29lZl9xCmNqb2JsaWIubnVtcHlfcGlja2xlCk51bXB5QXJyYXlXcmFwcGVyCnELKYFxDH1xDShYCAAAAHN1YmNsYXNzcQ5jbnVtcHkKbmRhcnJheQpxD1gFAAAAc2hhcGVxEEsEhXERWAUAAABvcmRlcnESWAEAAABDcRNYBQAAAGR0eXBlcRRjbnVtcHkKZHR5cGUKcRVYAgAAAGY4cRaJiIdxF1JxGChLA1gBAAAAPHEZTk5OSv////9K/////0sAdHEaYlgKAAAAYWxsb3dfbW1hcHEbiHVi68nYrtylvL9Y8XhnTIWkv/rvMoE9RM0/5OPuKf5+4z9YCQAAAF9yZXNpZHVlc3EcY251bXB5LmNvcmUubXVsdGlhcnJheQpzY2FsYXIKcR1oGEMIKlAuk6nXG0BxHoZxH1JxIFgFAAAAcmFua19xIUsEWAkAAABzaW5ndWxhcl9xImgLKYFxI31xJChoDmgPaBBLBIVxJWgSaBNoFGgYaBuIdWLKEu4Blxk5QAwt5IF2DRhALIyCyzdPC0AlwUUfAif+P1gKAAAAaW50ZXJjZXB0X3EmaB1oGEMIfB3OhRPfxz9xJ4ZxKFJxKVgQAAAAX3NrbGVhcm5fdmVyc2lvbnEqWAUAAAAxLjAuMnErdWIu')

Command completed.

In [111]:
%sql CREATE FUNCTION iris_linear(varchar(1356), float, float, float, float) \
returns float LANGUAGE PYTHON  parameter style \
NPSGENERIC  FENCED  NOT THREADSAFE  NO FINAL CALL  ALLOW PARALLEL  NO DBINFO  DETERMINISTIC  NO EXTERNAL ACTION \
RETURNS NULL ON NULL INPUT  NO SQL \
external name '/home/db2inst1/sqllib/function/routine/score.py'

Command completed.

In [112]:
%sql with input (model, sepal_length, sepal_width, petal_length, petal_width) as \
(select varchar(models.model), iris.sepal_length, iris.sepal_width, iris.petal_length, iris.petal_width \
from models, iris \
where models.id =(select id from models where name='iris_linear')) \
select iris_linear(varchar(model), float(sepal_length), float(sepal_width), float(petal_length), float(petal_width) ) from input

          1
0 -0.082549
1 -0.040128
2 -0.048628
3  0.012300
4 -0.075367
5  0.058291
6  0.038337